body {
    color: #000;
    background-color:#FFFF99;
}

.outer{
  text-align: center;
}
 .inner{
  display: inline-block;
  text-align: left;
}

body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}
